:root {
  --base-color: #867070;
  --background-color: #2c3639;
  --light-background-color: #e2dfdf;
  --other-colour: #f5ebeb;
  --additional-colour: #26a4b4;
  --colour-1: #7b8fa1;
  --colour-2: #e4a039;
  --colour-3: #fad6a5;
  --main-font-style: "Inconsolata", monospace;
  --title-height: 60px;
  --nav-height: 25px;
  --small-title: 22px;
  --general-font: 18px;

  /* font-family: 'Agdasima', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Sofia', cursive; */
}

body {
  width: 100%;
}

.content {
  margin: auto;
  padding: auto;
  font-family: var(--main-font-style);
}

/* Logo and banner design */

.title {
  display: flex;
  background-color: black;
  justify-content: space-around;
  align-items: center;
}

#logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 30%;
  padding: 5%;
  align-items: center;
  justify-self: center;
}

/* title writing */

.title-writing {
  display: flex;
  flex-basis: 200px;
}

.title-writing h1 {
  font-family: "Agdasima", sans-serif;
  font-size: var(--general-font);
  letter-spacing: 5px;
  flex-basis: 120px;
  color: var(--other-colour);
  margin-left: 300px;
}

.vl {
  border-left: 4px solid var(--other-colour);
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10;
}

.side-title {
  display: flex-box;
  padding: 0;
  margin: 0;
  width: 150px;
  color: var(--other-colour);
  margin-right: 50px;
  font-size: 12px;
}

/* nav Link styling  */

.top-nav {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: var(--nav-height);
}

nav a:link,
nav a:active,
nav a:visited {
  color: var(--other-colour);
  font-size: var(--nav-height);
}

nav a:hover {
  color: var(--colour-3);
  font-size: var(--nav-height);
}
/* main banner */

#design-img {
  height: 600px;
  width: 1500px;
  object-position: 240px -7px;
}

#coding-img {
  height: 596px;
  width: 1500px;
  object-position: -30px;
}

#split-image {
  position: absolute;
  clip-path: inset(0 50% 0 0);
  transition: clip-path 0.5s;
  z-index: 1;
}
#split-image:hover {
  clip-path: inset(0 0 0 0);
}

#split-image-2 {
  position: relative;
  clip-path: inset(0 0 0 45%);
  transition: clip-path 0.5s;
}
#split-image-2:hover {
  z-index: 2;
  clip-path: inset(0 0 0 0);
}

/* main banner text */

#split-image a,
#split-image-2 a {
  text-decoration: none;
}

.design-title {
  z-index: 1;
  position: absolute;
  top: 200px;
  left: 50px;
}

.design-title h1,
.coder-title h1 {
  font-size: 50px;
}

.design-title h3,
.coder-title h3 {
  color: black;
  position: relative;
  top: -35px;
}

.coder-title {
  z-index: 2;
  position: absolute;
  top: 200px;
  right: 60px;
  align-items: center;
}

.coder-title h1 {
  position: relative;
  left: 160px;
}

#split-image h1 {
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--additional-colour);
}

#split-image-2 h1 {
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--colour-2);
}

.bottom-content {
  display: block;
  /* grid-template-columns: repeat(3, 500px);
  grid-template-rows: 50px 400px;
  grid-template-areas:
    "header header header "
    "box1 box2 box3";
  margin-left: 5%;
  margin-right: auto; */
}

.line-break {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--nav-height);
}

.line {
  border-top: 5px solid black;
  width: 500px;
}

.line2 {
  border-top: 5px solid black;
  width: 500px;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 250px;
  grid-template-areas: "box1 box2 box3";
  margin-left: 14.2%;
  margin-right: auto;
  grid-column-gap: 20px;
  margin-bottom: 50px;
}

#work-1,
#work-2,
#work-3 {
  width: 350px;
  height: 150px;
  object-fit: cover;
  margin: 5% 10% 0 6%;
}

#work-1,
#work-3 {
  object-position: 0 5px;
}

.first-box {
  grid-area: box1;
  background-color: var(--light-background-color);
  box-shadow: 2px 2px 2px 2px #b4b4b3;
  object-position: top center;
}

.second-box {
  grid-area: box2;
  background-color: var(--light-background-color);
  box-shadow: 2px 2px 2px 2px #b4b4b3;
}

.third-box {
  grid-area: box3;
  background-color: var(--light-background-color);
  box-shadow: 2px 2px 2px 2px #b4b4b3;
}

.first-box h4,
.second-box h4,
.third-box h4 {
  font-size: var(--small-title);
  margin: 10px 0px 0px 5%;
}

.first-box p,
.second-box p,
.third-box p {
  margin: 0px 0px 0px 5%;
  font-size: var(--general-font);
}

.first-box a,
.second-box a,
.third-box a {
  text-decoration: none;
  color: black;
}

.boxes:hover {
  opacity: 1;
}

.boxes:hover > .first-box:not(:hover),
.boxes:hover > .second-box:not(:hover),
.boxes:hover > .third-box:not(:hover) {
  filter: blur(5px);
}

/* footer */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 50px;
  color: var(--other-colour);
}

.footer-nav a {
  padding-left: 30px;
}

#footer-logo {
  height: 80%;
  justify-self: center;
}

@media screen and (min-width: 700px) {
}
