:root {
  --base-color: #867070;
  --background-color: #2c3639;
  --light-background-color: #e2dfdf;
  --other-colour: #f5ebeb;
  --additional-colour: #26a4b4;
  --colour-1: #7b8fa1;
  --colour-2: #e4a039;
  --colour-3: #fad6a5;
  --main-font-style: "Inconsolata", monospace;
  --title-height: 60px;
  --nav-height: 25px;
  --small-title: 22px;
  --general-font: 18px;

  /* font-family: 'Agdasima', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Sofia', cursive; */
}

body {
  width: 100%;
}

.content {
  margin: auto;
  padding: auto;
  font-family: var(--main-font-style);
}

/* Logo and banner design */

.title {
  display: flex;
  background-color: black;
  justify-content: space-around;
  align-items: center;
}

#logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 30%;
  padding: 5%;
  align-items: center;
  justify-self: center;
}

/* title writing */

.title-writing {
  display: flex;
  flex-basis: 200px;
}

.title-writing h1 {
  font-family: "Agdasima", sans-serif;
  font-size: var(--general-font);
  letter-spacing: 5px;
  flex-basis: 120px;
  color: var(--other-colour);
  margin-left: 300px;
}

.vl {
  border-left: 4px solid var(--other-colour);
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10;
}

.side-title {
  display: flex-box;
  padding: 0;
  margin: 0;
  width: 150px;
  color: var(--other-colour);
  margin-right: 50px;
  font-size: 12px;
}

/* nav Link styling  */

.top-nav {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: var(--nav-height);
}

nav a:link,
nav a:active,
nav a:visited {
  color: var(--other-colour);
  font-size: var(--nav-height);
}

nav a:hover {
  color: var(--colour-3);
  font-size: var(--nav-height);
}

/* main banner */

.main-content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 600px 300px 150px;
  grid-template-areas:
    "banner"
    "options"
    "footer";
}

.image-section {
  grid-area: banner;
}

#design-img {
  height: 600px;
  width: 1700px;
  object-position: 240px -7px;
}

#coding-img {
  height: 596px;
  width: 1600px;
  object-position: -65px;
}

#split-image {
  position: absolute;
  clip-path: inset(0 50% 0 0);
  transition: clip-path 0.5s;
  z-index: 1;
}
#split-image:hover {
  clip-path: inset(0 0 0 0);
}

#split-image-2 {
  position: relative;
  clip-path: inset(0 0 0 45%);
  transition: clip-path 0.5s;
}
#split-image-2:hover {
  z-index: 2;
  clip-path: inset(0 0 0 0);
}

.bottom-content {
  grid-area: options;
}

footer {
  grid-area: footer;
}
